<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<div th:fragment="nav">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">ticketHub</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li id="hello" class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Register</a>
            </li>
        </ul>
    </nav>
</div>
</html>